/* Subscribe Section */
.subscribe-section {
    text-align: center;
    margin: 40px auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px; /* Set a max-width for the inputs */
}

.contact-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.subscribe-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #ff914d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Match the width of the input row */
    max-width: 500px; /* Align with input width */
}

.subscribe-button:hover {
    background-color: #e67b2f;
}


/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px 30px; /* Add padding for a clean look */
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Default width */
    max-width: 500px; /* Set a maximum width */
    margin: 0 auto; /* Center it horizontally */
}

.modal-content h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
}

.close-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff914d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #e67b2f;
}
